* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

.bg-main {
  background-color: #d3d3d3;
}

.bg-second {
  background-color: #272a31;
}

.bg-third {
  background-color: #ec5242;
}

.txt-white {
  color: #fff;
}

.txt-main {
  color: #d3d3d3;
}

.txt-second {
  color: #272a31;
}

.txt-third {
  color: #ec5242;
}

.bg-white {
  background-color: #fff;
}

body {
  background-color: #fefefe;
}

header {
  border-bottom: 0.12rem solid #d3d3d3;
  display: none;
}

.end-align {
  margin-right: 2.5rem;
}

.start-align {
  margin-left: 2.5rem;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

.navtop-container {
  display: flex;
  justify-content: flex-end;
}

.navtop-list {
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
}

.navtop-link {
  padding: 0.93rem;
  font-size: 0.93rem;
  font-family: lato, 'coco gothic', serif;
}

.navtop-image {
  width: 1.25rem;
  height: 1.25rem;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.63rem;
  padding-bottom: 0.63rem;
}

.navmain-icon {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.linkicon-humbergur {
  display: block;
  font-size: 2.75rem;
  padding: 1.25rem;
  text-align: left;
  font-weight: 700;
}

.linkicon-close {
  font-size: 2.5rem;
  padding: 1.56rem;
  text-align: center;
  font-weight: 700;
}

.linklogo-image {
  max-width: 16.66rem;
  max-height: 3.75rem;
}

.listicon-close {
  cursor: pointer;
  background-color: #fff;
  display: none;
}

.navmain-container {
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
  display: flex;
}

.navmain-list {
  margin-left: 0.32rem;
}

.navmain-link {
  padding: 0.63rem;
}

.navmain-name {
  border: 0.25rem solid #ec5242;
  font-weight: 100;
}

.head-section {
  width: 100%;
  background-image: url('./images/desktop/homebg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headsection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.head-humberger {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 1.88rem;
}

.head-motto {
  margin-bottom: 1.25rem;
}

.motto-quot {
  color: #ec5242;
  font-size: 1.56rem;
  margin-bottom: 0.63rem;
  display: block;
}

.motto-clip {
  text-transform: uppercase;
  background-image: url('./images/clip-text.jpg');
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  color: #ec5242;
  font-weight: 900;
  font-size: 1.7rem;
  display: block;
  background-size: cover;
  margin-bottom: 1.88rem;
}

.motto-quot {
  font-size: 1.7rem;
  margin-bottom: 1.25rem;
}

.head-paragraph {
  display: block;
  background-color: #fefefe;
  font-size: 1.4rem;
  border: 0.63rem solid #fff;
  margin-bottom: 1.25rem;
  padding: 0.63rem;
}

.head-venue {
  margin-bottom: 1.88rem;
}

.venue-date {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.venue-location {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.program-section {
  background-image: url('./images/programbg.png');
  background-color: #fefefe;
  margin-top: 1.88rem;
}

.background-griedant {
  background-color: #272a31;
  opacity: 0.95;
}

.program-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.program-title {
  margin: 1.25rem;
  padding: 1.25rem;
  border-bottom: 0.25rem solid #ec5242;
}

.program-content {
  display: flex;
  flex-direction: column;
}

.program-order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 0.63rem;
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.program-icon {
  flex-basis: 10%;
  flex-grow: 0;
  flex-shrink: 0;
  color: #fff;
  display: block;
  text-align: left;
  margin-right: 0.063rem;
}

.program-name {
  width: 9rem;
  color: #ec5242;
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 1.25rem;
}

.progrm-description {
  flex-basis: 100%;
  color: #000;
  display: flex;
  text-align: left;
}

.program-images {
  width: 3.12rem;
  height: 3.12rem;
}

.program-join {
  background-color: #ec5242;
  color: #fff;
  text-align: center;
  align-items: center;
  padding: 0.32rem;
  margin-top: 1.86rem;
  margin-bottom: 1.86rem;
}

.head-speaker{
  display:block;
  text-align: center;
  font-size: 1.24rem;
  margin-top: 1.86rem;
  margin-bottom: 1.86rem;
}

@media (min-width: 768px) {
  header {
    display: block;
  }

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  .end-align {
    margin-right: 16.66rem;
  }

  .start-align {
    margin-left: 16.66rem;
  }

  .headsection-container {
    padding-top: 3.75rem;
  }

  .motto-quot {
    font-size: 2.04rem;
  }

  .motto-clip {
    font-size: 3.08rem;
  }

  .head-paragraph {
    font-size: 1.02rem;
    width: 60%;
  }

  .program-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 0.062rem;
    width: 100%;
  }

  .program-order {
    display: flex;
    flex-direction: column;
    margin-right: 0.31rem;
    justify-content: flex-start;
    align-items: center;
  }

  .program-icon {
    color: #fff;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .program-name {
    width: 100%;
    color: #ec5242;
    display: block;
    text-align: center;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.02rem;
  }

  .progrm-description {
    width: 100%;
    color: #000;
    display: flex;
    text-align: left;
  }

  .program-images {
    width: 3.52rem;
    height: 3.52rem;
  }

  .program-join {
    background-color: #ec5242;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 0.32rem;
    margin-top: 1.86rem;
    margin-bottom: 1.86rem;
  }

  .program-details{
    font-weight: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.50rem;
    text-decoration: underline;
  }

}
